body {
    margin: 0;
    min-width: 250px;
  }
  

  * {
    box-sizing: border-box;
  }
  
  h1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
 
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(232, 209, 238);
    font-size: 18px;
    transition: 0.2s;
    

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
 
  ul li:hover {
    background: rgb(221, 221, 221);
  }
  
  ul li.checked {
    background: rgb(44, 3, 67);
    color: #fff;
    text-decoration: line-through;
  }
  

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #000000;
    color: white;
  }
  
  .header {
    background-color: #8236f4;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  

  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
 
  .addBtn {
    border-radius: 40px !important;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: rgb(129, 15, 236);
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: rgb(222, 180, 233);
  }





/* h1{
    color: red;
    text-align: center;
}
form{
    text-align: center;
}
input,button{
    border-radius: 10px;
    padding: 10px;
} */