body{
    background-color: rgb(238, 213, 225);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 200px;
    height: 200px;

}

#counting{
    border: 1px solid gray;
    width: 120px;
    text-align: center;
    padding: 20px;
    background-color: rgb(239, 241, 216);
}
h1{
    text-align: center;
    color: rgb(231, 5, 118);
}
