body{
    /* margin: 0; */
   
}
.container{
    border: 2px solid black;
    box-shadow: 2px 2px;
    margin: 10px;
}
.pink-container{
    margin-top: 0;
    margin: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 181, 226) rgb(201, 110, 213)
}
.para{
    text-align: justify;
    margin-top: 160px;
}
p{
    font-family: "Times New Roman", Times, serif;
}
.chapter, h1 {
    text-align: center;
}
.para::first-letter{
    font-size: 400%;
    font-weight: bold;
    float: left;
    
}

p{  word-spacing: 0.1rem;}
